body{
    background-image:url("/001.jpg") ;
    background-size:contain ;
}

.main_class{
    position: static;
    width: 100%;
    padding-top: 4rem;
    overflow-x: hidden;
    padding-bottom: 4rem;
}

.main_class h1{
    position: relative;
    display: flex;
    justify-content: center;
    top: 0.7rem;
}

#notice_section{
    display: grid;
    grid-template-columns:repeat(3,1fr) ;
    padding: 2rem;
    grid-gap: 1.2rem;
    overflow-wrap: anywhere;
    justify-items: center;
}
.notice_no {
    position: relative;
    display: flex;
    width: 80%;
    height: 13rem;
    padding: 1rem;
    border-radius: 0.3rem;
    background-color: #FFFFFF;
    box-shadow: 2px 2px 4px;
    border-color: #D0D7DE;
    opacity: 0.9;
}

.notice_no:hover{
    transform: scale(1.02);
    box-shadow: 4px 4px 8px ;
    transition: 0.1s ease-in-out;
    transition-delay: 0.1s;
    opacity: 1;
    border: 0.5px solid rgb(168, 100, 168);
}

.notice_details #title{
    font-size: x-large;
}

#date,#time{    
    position: absolute;
    padding: 0.5rem;
    right: 0;
    bottom: 0;
}

#date{
    bottom: 1.5rem;
}

.read_btn{
    position: absolute;
    bottom: 1rem;
    text-decoration: none;
    font-size: larger;
    padding-right: 0.3rem;
    padding-left: 0.3rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    border: 1px solid #A0AEC0;
    border-radius: 0.5rem;
    background-color: #b18fcf;
    color: #fff;
}

.read_btn:hover{
    box-shadow: 1px 1px 2px;
    border: 1px solid black;
}