.navbar{
    position: fixed;
    display: flex;
    height: 4rem;
    width: 100%;
    background-color: rgb(254, 236, 251);
    z-index: 10;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
}

#notice{
    font-size: 35px;
    position: absolute;
    left: 4rem;
    text-decoration: none;
    color: black;
}

#home,#admin{
    position: absolute;
    right: 20rem;
    text-decoration: none;
    font-size: x-large;
}

#admin{
    right: 10rem;
}
