name: Deploy Serverless Backend

on:
  push:
    branches:
      - main
    paths:
      - "server/**"

jobs:
  deploy:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./server

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_SERVER_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SERVER_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_SERVER_REGION }}

      - name: Install Serverless Framework v3 (no login required)
        run: npm install -g serverless@3

      - name: Install dependencies
        run: npm install

      - name: Deploy to AWS
        run: serverless deploy --stage prod --verbose
